__pycache__
launchdirs
output
.ipynb_checkpoints
*.o
*.d
*.so
*.pcm
slurm-*.out
*.bak*
*.venv
*.h5
*.hdf5
*.root
*.exe
tmp_bin
.*.swp

# Ignore dictionary files created by ROOT conversion script
run-pandora/AutoDict*

# Ignore files downloaded by 'install' script
run-cafmaker/*sqlite*
